#faq{
    max-width: 1200px;
    padding-bottom: 80px;
    margin: 0 auto;
}

#faq h1{
    text-align: center;
}

.faq-div {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px ;
}

.faq-div p{
    background: #79e2f541;
    border-radius: 5px;
    padding: 12px;
    border-bottom: #79e2f5 2px solid;
    border-top: #79e2f5 2px solid;
    border-left: #79e2f5 2px solid;
    border-right: #79e2f5 2px solid;
}