.info {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0; /* Remover o espaçamento entre as colunas */
}

.info img {
    
    max-width: 100%;
    margin: 0; /* Remover qualquer margem */
    
}

.lista {
    margin: 0; /* Remover qualquer margem */
}

.lista li {
    margin-top: 30px;
    border-bottom: #444 2px solid;
    list-style: none;
}
.lista ul {
    margin-top: 70px;
}

.perfil {
    margin: 0; /* Remover qualquer margem */
}


@media(max-width: 700px){
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 5px;
    }
    .perfil {
        display: flex;
        align-items: start;
        margin-top: 71px;
    }

}
@media (max-width: 600px) {
    .info {
        display: flex; /* Altera o layout para flexbox */
        flex-direction: column; /* Alinha os itens verticalmente */
        margin-left: 5px;
        
    }

    .perfil {
        float: none; /* Remove o float da imagem */
        margin-right: 0; /* Remove a margem direita da imagem */
    }


    .lista {
        overflow: hidden; /* Limpa o float da imagem */
    }

    .lista ul {
        padding-left: 0; /* Remove o recuo à esquerda */
        list-style-type: none; /* Remove os marcadores */
    }

    .lista li {
        margin-bottom: 5px; /* Reduz a margem inferior dos itens da lista */
    }
}